@import url(header.css);
@import url(footer.css);

*{
  text-align: center;
}

.aboutcont {
  width: 80%;
  min-height: 600px;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(100, 97, 97, 0.582);
  padding: 40px 20px;
  color: white;
}
.aboutcont > h1 {
  text-align: center;
}
.abouttxt {
  width: 100%;
  min-height: 300px;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.aboutimg {
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.aboutimg>div{
  height: 450px;
}

.Artyom {
  background-image: url("../img/ArtyomProfile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Lilit {
  background-image: url("../img/LilitProfile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Armen {
  background-image: url("../img/ArmenProfilePic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
