* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/bg.jpg");
}
header {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 100px;
  background-color: blue;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.logo-name {
  height: 100%;
  width: 25%;
  margin: 0 auto;
  font-size: 75px;
}
.nav-menu {
  height: 100%;
  width: 50%;
  background-color: rgb(240, 243, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 25%;
  height: 100%;
}
#logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  margin: auto;
}
.nav-menu ul {
  width: 400px;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-menu ul li {
  background-color: rgb(22, 22, 136);
  width: 90px;
  color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
