* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 100px;
    background-color: #000000;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 99999999;
  }
  
  .logo-name {
    height: 100%;
    width: 25%;
    margin: 0 auto;
    font-size: 75px;
  }
  .logo-name:hover #logo {
    transform: rotate(360deg);
  }
  #logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition-duration: 2s;
  }
  .effect {
    height: 100%;
    width: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
    transition-duration: 2s;
  }
  
  .name {
    color: black;
    font-size: 62px;
    letter-spacing: 5px;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 35px;
    bottom: 0;
    margin: auto;
    transition-duration: 2s;
  }
  
  .logo-name:hover .effect {
    left: 232px;
  }
  .logo-name:hover .name {
    color: white;
  }
  
  .bmw-logo {
    border-radius: 50%;
  }
  
  .nav-menu {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-menu ul {
    width: 400px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .nav-menu ul li {
    background-color: #08033fa8;
    width: 120px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .nav-menu ul li:hover {
    background-color: #1c6cb5;
    font-size: 18px;
    border: 1px solid white;
  }
  .nav-menu ul li a {
    color: white;
  }
  
  .icon{
    display: none;

  }
  .icon:hover .menu{
    display: flex;
  }
  .menu{
    position: fixed;
    flex-direction: column;
    padding:40px 20px;
    top:100px;
    right: 0;
    width: 180px;
    height: 200px;
    background-color: rgb(65, 65, 65);
    color: white;
    z-index: 2;
    display: none;
  }
  .menu a{
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
  }
  
  .photo {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }