@import url(header.css);
@import url(footer.css);

.cont {
  width: 80%;
  min-height: 800px;
  background-color: rgba(100, 97, 97, 0.582);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin: auto;
  padding: 10px;
}
h1 {
  margin-bottom: 30px;
  font-size: 53px;
  letter-spacing: 7px;
}

.cont1 {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
}
.cont1 > div {
  height: 400px;
}
.E46 {
  background-image: url("../img/bmwE46.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.E60 {
  background-image: url("../img/bmwE60.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.E90 {
  background-image: url("../img/bmwE90.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}

.bmw-btn {
  display: block;
  margin: 300px auto;
  font-size: 14px;
  border-radius: 8px;
  padding: 5px;
  display: none;
  background-color: rgb(135, 135, 138);
  color: #fff;
}

.E46:hover {
  background-image: url("../img/bmwe46interjpg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.E46:hover .bmw-btn {
  display: block;
}

.E60:hover {
  background-image: url("../img/bmwE60inter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.E60:hover .bmw-btn {
  display: block;
}

.E90:hover {
  background-image: url("../img/bmwE90inter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.E90:hover .bmw-btn {
  display: block;
}
.cont2 {
  width: 100%;
  min-height: 500px;
  margin-bottom: 70px;
}
.cont > h1 {
  text-align: center;
}
.cont2img {
  float: left;
  width: 400px;
  margin: 20px;
  height: 300px;
  overflow: hidden;
}
.cont2txt {
  width: 100%;
  position: relative;
  min-height: 500px;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 30px;
}

