@media screen and (max-width: 1024px) {
  .footer {
    top: 2000px;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    border-radius: 0;
    justify-content: center;
    padding-right: 110px;
  }
  .effect {
    width: 100px;
    left: 80px;
    transition-duration: 0;
  }
  .logo-name:hover .effect {
    left: 20px;
  }
  .logo-name:hover #logo {
    transform: rotate(0);
  }
  #logo {
    transition-duration: 0;
  }
  .name {
    display: none;
  }
  .photo {
    display: none;
  }
  .cont1 > div {
    height: 700px;
  }

  .footer {
    top: 3540px;
    height: 100px;
  }
  .menu-footer {
    display: none;
  }
  .social-nets {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
  }
  .social-nets::after {
    width: 0;
  }
  .adresses {
    display: none;
  }
  .adresses::after {
    display: none;
  }
  .cont2img {
    float: none;
    display: block;
    width: 520px;
    margin: auto;
  }
  .cont2txt {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  header {
    padding-right: 40px;
  }

  nav {
    display: none;
  }

  .nav-menu ul li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .icon {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 40px;
  }

  .nav-menu .mobile-icon:hover .nav-menu {
    display: none;
    background-color: blue;
  }

  .effect {
    left: 30px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .cont {
    width: 100%;
    position: relative;
  }
  .cont2img {
    width: 98%;
  }
  .cont2txt {
    font-size: 15px;
    letter-spacing: 0;
  }
  .cont1 > div {
    height: 400px;
  }
  .footer {
    top: 2500px;
  }
  h1 {
    font-size: 35px;
  }
}
